.bottom-sidebar {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.bottom-sidebar .bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}


.bottom-sidebar .bottom-buttons .light {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 70px;
    width: 70px;
    /* box-shadow: 3px 5px #615184;
    border-left: solid 3px #615184;
    border-top: solid 3px #615184; */
}

.bottom-sidebar .bottom-buttons .dark {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 70px;
    width: 70px;
    background: #5C5771;
}

.bottom-sidebar .history-sidebar {
    width: 350px;
    height: 400px;
    margin-top: auto;
    background: #f1f1f1;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: auto;
}

.bottom-sidebar .dark-history {
    width: 350px;
    height: 400px;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: #5C5771;
    overflow-y: auto;
}

.bottom-sidebar .dark-list {
    width: 200px;
    height: 300px;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: #5C5771;
}

.bottom-sidebar .list-sidebar {
    width: 470px;
    height: 300px;
    margin-top: auto;
    background: #F1F1F1;
    border: 1px solid black;
    border-radius: 10px;
}