.todo-tab{
    text-align: center;
    display: flex;
    height: 100%;
    margin-left:5%;
    flex-direction: column;
    /* align-items: flex-start; */
    color: white;

}

.todo-form-input input{
        color: white;
        /* display: inline; */
        font-weight: bold;
        font-size: 14px;
        margin:0.5em
}

.todo-form-input.todo-form-input label {
    color: white;
}


.todo-form-input.todo-form-input label+div::before {
    border-color: white !important;
    opacity: 0.5 !important;
}

.todo-form-input.todo-form-input label+div::after {
    border-color: white;
}

.todo-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    width: 100%;
}

.todo-list{
    align-items: flex-start;
}

.todo-row{
    display: flex;
    height: 100%;
    margin-right: 10px;
    justify-content: center;
    color: white;
    background-color: #4a3e63;
    border-radius: 3px;
}


.todo-left-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.close-btn{
    margin: 0%;
    margin-left: auto;
    margin-right: 3%;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pin-btn{
    cursor:pointer;
    fill: black;
    padding: 9px;
}


li {
    text-align:initial
}
