.music-tab {
    display: flex;
    height: 100%;
    flex-direction: column;
    color: white;
    margin: 0px 20px;
  }

  .music-tab h3{
    text-align: center;
}

.video {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 15px;    
}

<<<<<<< HEAD
.music-icon{
    align-items: center;
    margin: 0 auto;
}

.music-icon .btn:hover {
  background: var(--sidebar-timer-btn-bg-primary);
}

.music-icon .btn{
    width: 150px;
    height: 42px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: var(--profile-btn-primary);
    font-size: 14px;
    border: none;
    cursor:default;
    transition: 0.35s;
    align-items: center;
    margin: 20px;
    margin-right: 25px;
    margin-left: 40px;
    
}

=======
>>>>>>> 3cc266cf58f189f3fca19c8073d47ed09e305baa
