.video{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.music-icon{
    align-items: center;
    margin: 0 auto;
}

.music-icon .btn:hover {
  background: var(--sidebar-timer-btn-bg-primary);
}

.music-icon .btn{
    width: 150px;
    height: 42px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: var(--profile-btn-primary);
    font-size: 14px;
    border: none;
    cursor:default;
    transition: 0.35s;
    align-items: center;
    margin: 20px;
    margin-right: 25px;
    margin-left: 40px;
    
}

