.timer .pinned-task-content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  max-width: 100vw;
  border-radius:20px;
  position: absolute;
  top: 20%;
}

.timer .pinned-task-content p {
  white-space: nowrap;
}

.pinned-task {
  margin: 0%;
  font-size: 24px;
  padding-right: 20px;
}

.pinned-task-content .pin{
  padding-left: 20px;
  padding-top: 7px;
  margin: 0%;
  margin-right: 2%; 
  cursor:pointer;
  justify-content: center;
  align-items: center;
  align-self: center;  
}
