.pinned-task-content {
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  width: 15em;
  height: 15em;
  position: absolute;
  color: white;
  right: 5%;
  top: 10%;
  cursor: pointer;
  overflow-y: auto;
  border-radius: 5px;
  background: var(--expanded-sidebar-hover-primary);
  border: 3px solid var(--sidebar-timer-btn-bg-primary);
}

.pinned-task-content .sticky {
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pinned-task-content .sticky .pin {
  margin-top: 1px;
  padding-right: 10px;
}

.pinned-task-content .note {
  text-align: center;
  width: 100%;
}

.pinned-task-content .note .pinned-task {
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  margin-top: 0px;
}
