.history-modal-background {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-modal-background .history-modal-container {
    width: 50%;
    padding: 16px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.history-modal-background .history-modal-container p {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

.history-modal-background .btn-close-modal {
    margin-left: auto;
    text-decoration: none;
    font-size: 22px;
    color: white;
    opacity: 1;
    display: block;
}

.history-modal-background .btn-close-modal {
    position: absolute;
    top :0;
    right:22px;
    font-size: 36px;
    margin-left: 50px;
}

.history-modal-background .history-modal-container button {
    width: 10rem;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    background: var(--profile-btn-primary);
    color: white;
    border: none;
}

.history-modal-background .history-modal-container button:hover {
    background: var(--sidebar-timer-btn-bg-primary);
}