.session-history {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.session-history h4 {
    color: white;
}

.session-history .no-sessions {
    text-align: center;
}

.session-history .date {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    margin-bottom: 10px;
    background: white;

}

.session-history .date h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    margin: auto;
    margin-top: 10px;
}

.session-history .sessions .date .toulidine-blue {
    margin: 0px;
}

.session {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    height: 10%;
    margin: 10px;
}

.session .type {
    width: 50%;
    height: 100%;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}

.session .duration {
    width: 50%;
    height: 100%;
    margin: 0px;
    font-size: 18px;
}
