.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.register-form h2 {
    text-align: center;
    width: 100%;
    color: white;
    margin: 0px;
    text-transform: uppercase;
}

.register-form .form {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px 0px 10px 0px;
}

::placeholder {
    padding-left: 5px;
}

.register-form .form .input-field i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: var(--profile-btn-primary);
    width: 55px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 32px;
}

.register-form .submit-registration {
    width: 240px;
    align-self: center;
    color: white;
    background: var(--profile-btn-primary);
    border: none;
    height: 32px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.register-form .submit-registration:hover {
    background: var(--sidebar-timer-btn-bg-primary);
}

.register-form .form .input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    height: 32px;
}

.register-form .form .input-field .form-input {
    height: 30px;
    border: none;
    width: 180px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.register-form .footer {
    margin-top: 20px;
    width: 210px;
    height: 20%;
    padding-top: 3px;
    border-top: solid 1px white;
    align-self: center;
    text-align: center;
    color: white;
    font-size: smaller;
    font-size: 12px;
    margin: 0.5em;
}

.register-form .footer p {
    margin-top: 3px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 12px;
    margin: 0.5em;  
}
.register-form .footer p:hover{
    text-decoration: underline;
    color: #071344;
    
}
.register-form .error {
    margin: 2px;
    margin-top: 10px;
    padding-left: 5px;
    color: #FFCCCC;
    font-size: 14px;
    align-self: center;
}