.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.register-form h2 {
    text-align: center;
    width: 100%;
    color: #8270A9;
    margin: 0px;
}

.register-form .form {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

::placeholder {
    padding-left: 5px;
}

.register-form .form .input-field i {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#8270A9;
    color: white;
    width: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.register-form .submit-registration {
    width: 210px;
    align-self: center;
    color: white;
    background:#8270A9;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.register-form .form .input-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
}

.register-form .form .input-field .form-input {
    height: 30px;
    border: none;
    width: 180px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.register-form .footer {
    width: 210px;
    height: 20%;
    padding-top: 3px;
    border-top: solid 1px black;
    align-self: center;
    text-align: center;
}

.register-form .footer p {
    margin-top: 3px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.register-form .error {
    margin: 2px;
    padding-left: 5px;
    color: red;
    font-size: 14px;
    align-self: center;
}