/* Pomozone Themes */

.app {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: visible;
}

.explode {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50px;
    width: 100vw;
    height: 100vw;
}

.pomozone-pdefault{
    background: #8270A9;
}

.pomozone-red{
    background: #FF7F7F;
}

.pomozone-orange{
    background: #F0BE63;
}

.pomozone-light-green{
    background: #84a59d;
}
.pomozone-green{
    background: #588157;
}

.pomozone-teal{
    background: #7FD3D3;
}

.pomozone-pink{
    background: #e27396;
}

.pomozone-turquoise{
    background: #31B5DF;
}

.pomozone-sbdefault{
    background: #6096BA;
}

.pomozone-lbdefault{
    background: #9bb1ff;
}

.pomozone-dark-mode {
    background: #2E293A;
}

/* Short Break Themes */

.short-break-sbdefault {
    background: #6096BA;
}

.short-break-red{
    background: #FF7F7F;
}

.short-break-orange{
    background: #F0BE63;
}

.short-break-light-green{
    background: #84a59d;
}
.short-break-green{
    background: #588157;
}

.short-break-teal{
    background: #7FD3D3;
}

.short-break-pink{
    background: #e27396;
}

.short-break-turquoise{
    background: #31B5DF;
}

.short-break-pdefault{
    background: #8270A9;
}

.short-break-lbdefault{
    background: #9bb1ff;
}

.short-break-dark-mode {
    background: #2E293A;
}


/* Long Break Themes */

.long-break-lbdefault {
    background: #9bb1ff;
}

.long-break-red{
    background: #FF7F7F;
}

.long-break-orange{
    background: #F0BE63;
}

.long-break-light-green{
    background: #84a59d;
}
.long-break-green{
    background: #588157;
}
.long-break-teal{
    background: #7FD3D3;
}

.long-break-pink{
    background: #e27396;
}

.long-break-turquoise{
    background: #31B5DF;
}

.long-break-sbdefault{
    background: #6096BA;
}

.long-break-pdefault{
    background: #8270A9;
}

.long-break-dark-mode {
    background: #2E293A;
}