body {
    font-family: "Roboto Condensed";
  }

/* Pomozone Themes */

.app {
    display: flex;
    /* flex-direction: column; */
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: visible;
    transition: 0.35s;
}

.explode {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50px;
    width: 100vw;
    height: 100vw;
}

/* Themes */

.pomozone-pdefault,
.short-break-pdefault,
.long-break-pdefault,
.settings-tab .color-themes .color-palette .pdefault {
    background: #8270A9;
}

.pomozone-red,
.short-break-red,
.long-break-red,
.settings-tab .color-themes .color-palette .red {
    background: #FF7F7F;
}

.pomozone-orange,
.short-break-orange,
.long-break-orange,
.settings-tab .color-themes .color-palette .orange {
    background: #F0BE63;
}

.pomozone-light-green,
.short-break-light-green,
.long-break-light-green,
.settings-tab .color-themes .color-palette .light-green {
    background: #84a59d;
}

.pomozone-green,
.short-break-green,
.long-break-green,
.settings-tab .color-themes .color-palette .green {
    background: #588157;
}

.pomozone-teal,
.short-break-teal,
.long-break-teal,
.settings-tab .color-themes .color-palette .teal {
    background: #7FD3D3;
}

.pomozone-pink,
.short-break-pink,
.long-break-pink,
.settings-tab .color-themes .color-palette .pink {
    background: #e27396;
}

.pomozone-turquoise,
.short-break-turquoise,
.long-break-turquoise,
.settings-tab .color-themes .color-palette .turquoise {
    background: #31B5DF;
}

.pomozone-sbdefault,
.short-break-sbdefault,
.long-break-sbdefault, 
.settings-tab .color-themes .color-palette .sbdefault {
    background: #6096BA;
}

.pomozone-lbdefault,
.short-break-lbdefault,
.long-break-lbdefault,
.settings-tab .color-themes .color-palette .lbdefault {
    background: #9bb1ff;
}

.pomozone-dark-mode,
.short-break-dark-mode,
.long-break-dark-mode {
    background: #121212;
}