.apppomozone {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: #8270A9;
    margin: 0px;
    /* #6096BA */
}

.appshort-break {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: #6096BA;
    margin: 0px;
}

.applong-break {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    background: #9bb1ff;
    margin: 0px;
}