.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background .modal-container {
    width: 50%;
    height: 40%;
    max-width: 550px;
    max-height: 350px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.modal-background .modal-container .cancel {
    width: 10%;
    align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
}

.modal-background .modal-container h1 {
    font-size: 20px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.modal-background .modal-container h4 {
    text-align: center;
    margin: 0px;
}

.modal-background .modal-container .confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    align-self: center;
}

.modal-background .modal-container .confirmation p {
    align-self: flex-start;
}

.modal-background .modal-container .confirmation input {
    width: 100%;
    padding: 0px;
    padding-left: 5px;
    border-radius: 5px;
    height: 40%;
}

.modal-background .modal-container .delete {
    margin-top: 20px;
    width: 80%;
    height: 10%;
    align-self: center;
    background: #FF0909;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.modal-background .modal-container .fill {
    margin-top: 20px;
    width: 80%;
    height: 10%;
    align-self: center;
    background: #B20A0A;
    border-radius: 10px;
    border: none;
    color: white;
}