.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background .modal-container {
    width: 50%;
    height: 43%;
    max-width: 550px;
    max-height: 350px;
    border-radius: 12px;
    color: white;
    background-color: var(--expanded-sidebar-hover-primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.modal-background .modal-container .cancel {
    margin-left: auto;
    color: white;
    background: var(--expanded-sidebar-hover-primary);
    border-radius: 12px;
    border: none;
}

.modal-background .modal-container h1 {
    font-size: 20px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

.modal-background .modal-container h4 {
    text-align: center;
    margin: 0px;
}

.modal-background .modal-container .confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    align-self: center;
}

.modal-background .modal-container .confirmation p {
    align-self: flex-start;
}

.modal-background .modal-container .confirmation input {
    height: 30px;
    border: none;
    width: 180px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    outline: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.modal-background .modal-container .confirmation .username {
    display: flex;
    flex-direction: row;
}

.modal-background .modal-container .confirmation i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    width: 35px;
    height: 32px;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 2px solid white;
}

.modal-background .modal-container .confirmation ::placeholder {
    color: white;
}

.modal-background .modal-container .delete {
    margin-top: 20px;
    width: 219px;
    height: 42px;
    align-self: center;
    background: #FF0909;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal-background .modal-container .fill {
    margin-top: 20px;
    width: 219px;
    height: 42px;
    align-self: center;
    background: #B20A0A;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: white;
}