.top-sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-self: flex-end;
}

.top-sidebar .top-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.top-sidebar .top-buttons .light {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    /* box-shadow: 3px 5px #615184;
    border-left: solid 3px #615184;
    border-top: solid 3px #615184; */
}

.top-sidebar .top-buttons .dark {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    background: #5C5771;
}

.top-sidebar .profile-sidebar- {
    margin-top: 50px;
    width: 250px;
    height: 350px;
    background: #F1F1F1;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.top-sidebar .profile-sidebar-dark {
    margin-top: 50px;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #5C5771;
}

.top-sidebar .settings-sidebar- {
    width: 250px;
    height: 350px;
    margin-top: 50px;
    background: #F1F1F1;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.top-sidebar .settings-sidebar-dark {
    width: 250px;
    height: 350px;
    margin-top: 50px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #5C5771;
}