.sidebar {
    width: 180px;
    min-height: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--sidebar-timer-btn-bg-primary);
    flex-direction: column;
    z-index: 2;
    transition: 0.35s;
}

.sidebar-top {
    width: 90%;
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: center;
    margin-top: 10px;
}

.logo {
    font-size: 24px;
    margin-right: 10px;
    margin: 0px;
}

.brand {
    font-weight: bold;
    padding-left: 10px;
}

.sidebar-center {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    background: var(--sidebar-timer-btn-bg-primary);
    padding: 0px;
    transition: 0.35s;
    width: 100%;
}

.list .active {
    background: var(--expanded-sidebar-hover-primary);
}

.list .list-item:hover {
    background: var(--expanded-sidebar-hover-primary);
}

.list-item {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 80%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.list-item-text {
    padding: 8px 5px 0px 5px;
}

.list-item-icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-bottom {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: none;
}

.sidebar-bottom .button {
    list-style: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-bottom .button:hover {
    font-weight: bold;
    background-color: var(--expanded-sidebar-hover-primary);
}

@media only screen and (max-width: 500px) {
    .sidebar {
        transition: 0.35s;
        width: 50px;
    }
    .list-item {
        justify-content: center;
    }
    .brand, .list-item-text {
        display: none;
    }
}
