.sidebar {
    width: 180px;
    min-height: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.35s;
    z-index: 1;
    transition: 0.35s;
}

/* Pomozone Button Themes */

.sidebar-pomozone-pdefault {
    background: #615184;
    transition: 0.35s;
}

.sidebar-pomozone-red{
    background: #D36A6A;
}

.sidebar-pomozone-orange{
    background: #D6A753;
}

.sidebar-pomozone-light-green{
    background: #728F88;
}

.sidebar-pomozone-green{
    background: #436142;
}

.sidebar-pomozone-teal{
    background: #6EB8B8;
}

.sidebar-pomozone-pink{
    background: #BD617E;
}

.sidebar-pomozone-turquoise{
    background: #299BBF;
}

.sidebar-pomozone-sbdefault{
    background: #497593;
}

.sidebar-pomozone-lbdefault{
    background: #788bff;
}

.sidebar-pomozone-dark-mode {
    background: #514866;
    color: white;
}

/* Short Break Themes */

.sidebar-short-break-sbdefault {
    background: #497593;
}

.sidebar-short-break-red{
    background: #D36A6A;
}

.sidebar-short-break-orange{
    background: #D6A753;
}

.sidebar-short-break-light-green{
    background: #728F88;
}

.sidebar-short-break-green{
    background: #436142;
}

.sidebar-short-break-teal{
    background: #6EB8B8;
}

.sidebar-short-break-pink{
    background: #BD617E;
}

.sidebar-short-break-turquoise{
    background: #299BBF;
}

.sidebar-short-break-pdefault{
    background: #615184;
}

.sidebar-short-break-lbdefault{
    background: #788bff;
}

.sidebar-short-break-dark-mode {
    background: #A9AAC5;
}

/* Long Break Themes */

.sidebar-long-break-lbdefault {
    background: #788bff;
}

.sidebar-long-break-red{
    background: #D36A6A;
}

.sidebar-long-break-orange{
    background: #D6A753;
}

.sidebar-long-break-light-green{
    background: #728F88;
}

.sidebar-long-break-green{
    background: #436142;
}

.sidebar-long-break-teal{
    background: #6EB8B8;
}

.sidebar-long-break-pink{
    background: #BD617E;
}

.sidebar-long-break-turquoise{
    background: #299BBF;
}

.sidebar-long-break-sbdefault{
    background: #497593;
}

.sidebar-long-break-pdefault{
    background: #615184;
}

.sidebar-long-break-dark-mode {
    background: #A9AAC5;
}

.sidebar-top {
    width: 90%;
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: center;
}

.sidebar-bottom {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-center {
    height: 40%;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.sidebar-top {
    margin-top: 10px;
}

.sidebar-bottom {
    margin-top: 10px;
    border: none;
    justify-content: center;
    align-items: center;
}

.sidebar-bottom li {
    list-style: none;
    margin: 5px;
    cursor: pointer;
}
.sidebar-bottom ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    margin-right: 10px;
    margin: 0px;
}

.brand {
    padding-left: 10px;
}

.list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    width: 100%;
}

.list-item {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.list-item-text {
    padding: 8px 5px 0px 5px;
}

.list-item-icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item:hover,
.list-item.active {
    background-color: #374151;
    color: white;
}

.color-box {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        transition: 0.35s;
        width: 50px;
        transition: 0.35s;
    }
    .brand, .list-item-text {
        display: none;
    }
    .sidebar-bottom ul {
        flex-direction: column;
    }
}
