.settings-tab {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.settings-tab h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.settings-tab .set-time {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.settings-tab .set-time h4 {
  margin: 0px 0px 5px 0px;
}

.settings-tab .toggle-header {
  margin: 15px 0px 5px 0px;
  width: 90%;
  align-self: center;
}

.settings-tab .set-time .time-forms {
    display: flex;
    flex-direction: row;
    border: none;
    background: var(--sidebar-timer-btn-bg-primary);
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.settings-tab .set-time .time-forms .input-names {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 13px;
  padding: 0px;
  padding-left: 5px;
  list-style: none;
  justify-content: space-evenly;
  margin: 5px;
}

.settings-tab .set-time .inputs .session-num {
  width: 78px;
  margin: 5px 0px 5px 0px;
  border-radius: 8px;
  border: solid 1px black;
  cursor: pointer;
  height: 20px;
}

.settings-tab .set-time .inputs .session:focus-visible {
  outline: var(--profile-btn-primary);
}

.settings-tab .set-time .time-forms .input-names li {
  margin: 8px 0px 8px 0px;
}

.settings-tab .set-time .time-forms .input-names p {
  margin: 0px;
}

.settings-tab .set-time .time-forms .inputs {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 1px 0px 1px 0px;
}

.settings-tab .set-time .time-forms .input-field {
  margin: 6px 0px 5px 0px;
  padding-left: 30px;
}

.settings-tab .set-time .time-forms .time-toggle {
  margin: 4px 0px 4px 0px;
  padding-left: 45px;
}

.settings-tab .set-time .time-forms .input-field .input-form {
  width: 70px;
  border-radius: 8px;
  color: black;
}

.settings-tab .set-time .time-forms .input-field label {
  margin-left: 5px;
  margin-right: 12px;
  margin-top: 2px;
}

.settings-tab .color-themes {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}

.settings-tab .color-themes h4 {
    margin: 0px 0px 5px 0px;
}

.settings-tab .color-themes .content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: var(--sidebar-timer-btn-bg-primary);
}

.settings-tab .color-themes .content .dark-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  height: 35px;
  width: 100%;
}

.settings-tab .color-themes .content .dark-area p {
  padding-top: 1px;
  margin: 0px;
  padding-left: 5px;
  font-size: 13px;
  margin-right: 193px;
}

.settings-tab .color-themes .color-palette {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    border: none;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 98%;
    padding: 5px;
    height: 95px;
}

.settings-tab .color-themes .color-palette .dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Color Palette Themes */

.settings-tab .color-themes .color-palette .pdefault {
  background: #8270A9;
}

.settings-tab .color-themes .color-palette .pdefault:hover {
  background: #615184;
}

.settings-tab .color-themes .color-palette .red {
  background: #FF7F7F;
}

.settings-tab .color-themes .color-palette .red:hover {
  background: #D36A6A;
}

.settings-tab .color-themes .color-palette .orange {
  background: #F0BE63;
}

.settings-tab .color-themes .color-palette .orange:hover {
  background: #D6A753;
}

.settings-tab .color-themes .color-palette .light-green {
  background: #84a59d;
}

.settings-tab .color-themes .color-palette .light-green:hover {
  background: #728F88;
}

.settings-tab .color-themes .color-palette .green {
  background: #588157;
}

.settings-tab .color-themes .color-palette .green:hover {
  background: #547952;
}

.settings-tab .color-themes .color-palette .teal {
  background: #7FD3D3;
}

.settings-tab .color-themes .color-palette .teal:hover {
  background: #56BCBC;
}

.settings-tab .color-themes .color-palette .pink {
  background: #e27396;
}

.settings-tab .color-themes .color-palette .pink:hover {
  background: #F192B0;
}

.settings-tab .color-themes .color-palette .turquoise {
  background: #31B5DF;
}

.settings-tab .color-themes .color-palette .turquoise:hover {
  background: #2FAAD1;
}

.settings-tab .color-themes .color-palette .sbdefault {
  background: #6096BA;
}

.settings-tab .color-themes .color-palette .sbdefault:hover {
  background: #5E87A3;
}

.settings-tab .color-themes .color-palette .lbdefault {
  background: #9bb1ff;
}

.settings-tab .color-themes .color-palette .lbdefault:hover {
  background: #8192FF;
}

/* Toggle Options css */

.settings-tab .notif-area {
    display: flex;
    flex-direction: row;
    border: none;
    background: var(--sidebar-timer-btn-bg-primary);
    border-radius: 5px;
    width: 90%;
    align-self: center;
    height: 160px;
}

.settings-tab .notif-area .notifs {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 5px;
}

.settings-tab .notif-area .notifs label {
  padding-left: 60px;
  margin-top: 2px;
}

.settings-tab .notif-area .notifs .ding {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.settings-tab .notif-area .notifs .ding i {
  cursor: pointer;
}

.settings-tab .notif-area .notifs .ding select {
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}

.settings-tab .notif-area .notif-names {
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    width: 60%;
    font-size: 13px;
}

.settings-tab .notif-area .notif-names p {
  padding-left: 5px;
}

/* Toggle-Sliders CSS */

.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: rgb(52, 52, 52);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }

.settings-tab .update-settings button {
  width: 10rem;
  padding: 12px;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  background: var(--profile-btn-primary);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.settings-tab .update-settings button:hover {
  background: var(--sidebar-timer-btn-bg-primary);
}

.settings-tab .update-settings {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.fade-in {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: opacity 1s ease;
}