.settings-tab {
    display: flex;
    flex-direction: column;
}

.settings-tab h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.settings-tab .set-time {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.settings-tab .set-time .time-names {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    width: 60%;
}

.settings-tab .set-time .time-names ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    list-style: none;
    padding: 0px;
    width: 100%;
}

.settings-tab .set-time .time-names li {
    margin: 10px 0px 5px 5px;
    font-size: 16px;
}

.settings-tab .set-time .time-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.settings-tab .set-time .time-forms ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings-tab .set-time .time-forms li {
    margin: 8px 5px 8px 5px;
}

.settings-tab .color-themes {
    display: flex;
    flex-direction: column;
}

.settings-tab .color-themes h4 {
    margin: 0px 0px 5px 10px;
}

.settings-tab .color-themes .color-palette {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin: 0px 5px 0px 5px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

.settings-tab .color-themes .color-palette .dot {
    display: inline-grid;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
}

.settings-tab .color-themes .color-palette .red {
    background-color: #F17A7A;
  }

.settings-tab .color-themes .color-palette .orange {
    background-color: #F0BE63;
}

.settings-tab .color-themes .color-palette .light-green {
    background-color: #84a59d;
}

.settings-tab .color-themes .color-palette .green {
    background-color: #588157;
}

.settings-tab .color-themes .color-palette .teal {
    background-color: #7FD3D3;
}

.settings-tab .color-themes .color-palette .pdefault {
    background-color: #8270A9;
}

.settings-tab .color-themes .color-palette .pink {
    background-color: #e27396;
}

.settings-tab .color-themes .color-palette .turquoise {
    background-color: #31B5DF;
}

.settings-tab .color-themes .color-palette .sbdefault {
    background-color: #6096BA;
}

.settings-tab .color-themes .color-palette .lbdefault {
    background-color: #9bb1ff;
}

.settings-tab .slider-area .slider-names ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
}

.settings-tab .slider-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.settings-tab .slider-area .sliders {
    width: 40%;
}

.settings-tab .slider-area .slider-names {
    padding: 0px;
    margin: 0px;
    width: 60%;
}

.settings-tab .slider-area .sliders ul {
    padding: 5px;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items:center;
}

.settings-tab .slider-area .slider-names li {
    height: 40px;
    text-align: center;
    line-height: 40px;
}