.timer {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
}

.timer .content {
    display: flex;
    flex-direction: column;
}

.timer .content .timer-area {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 330px;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

.timer .content .timer-area .time-reg {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    align-items: center;
    text-align: center;
    color: white;
}

.timer .content .timer-area .time-dark {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.timer .content .session-reg {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.timer .content .session-dark {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0px 0px 25px 0px;
    color: #FFFFFF;
}

.timer .content .buttons {
    display: flex;
    flex-direction: row;    
}

.timer .content .buttons button {
    border-radius: 15px;
    width: 90px;
    height: 60px;
    margin: 20px 16px 0px 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--sidebar-timer-btn-bg-primary);
}

.timer .content .buttons button:hover {
    background: var(--expanded-sidebar-hover-primary);
}
