.timer {
    display: flex;
    align-items: center; 
    margin: auto;
    overflow: visible;
    flex-direction: column;
}

.timer .content {
    display: flex;
    flex-direction: column;
}

.timer .content .timer-area {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 330px;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

.timer .content .timer-area .time-reg {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    align-items: center;
    text-align: center;
    color: white;
}

.timer .content .timer-area .time-dark {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 117px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.timer .content .session-reg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

.timer .content .session-dark {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0px 0px 25px 0px;
    color: #FFFFFF;
}

.timer .content .buttons {
    display: flex;
    flex-direction: row;    
}

.timer .content .buttons button {
    border-radius: 15px;
    width: 90px;
    height: 60px;
    margin: 20px 16px 0px 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Pomozone Button Themes */

.timer .content .buttons .pomozone-pdefault,
.timer .content .buttons .short-break-pdefault,
.timer .content .buttons .long-break-pdefault {
    background: #4a3e63;
}

.timer .content .buttons .pomozone-red,
.timer .content .buttons .short-break-red,
.timer .content .buttons .long-break-red {
    background: #D36A6A;
}

.timer .content .buttons .pomozone-orange,
.timer .content .buttons .short-break-orange,
.timer .content .buttons .long-break-orange {
    background: #D6A753;
}

.timer .content .buttons .pomozone-light-green,
.timer .content .buttons .short-break-light-green,
.timer .content .buttons .long-break-light-green {
    background: #728F88;
}

.timer .content .buttons .pomozone-green,
.timer .content .buttons .short-break-green,
.timer .content .buttons .long-break-green {
    background: #436142;
}

.timer .content .buttons .pomozone-teal,
.timer .content .buttons .short-break-teal,
.timer .content .buttons .long-break-teal {
    background: #6EB8B8;
}

.timer .content .buttons .pomozone-pink,
.timer .content .buttons .short-break-pink,
.timer .content .buttons .long-break-pink {
    background: #BD617E;
}

.timer .content .buttons .pomozone-turquoise,
.timer .content .buttons .short-break-turquoise,
.timer .content .buttons .long-break-turquoise {
    background: #299BBF;
}

.timer .content .buttons .pomozone-sbdefault,
.timer .content .buttons .short-break-sbdefault,
.timer .content .buttons .long-break-sbdefault {
    background: #497593;
}

.timer .content .buttons .pomozone-lbdefault,
.timer .content .buttons .short-break-lbdefault,
.timer .content .buttons .long-break-lbdefault {
    background: #788bff;
}

.timer .content .buttons .pomozone-dark-mode,
.timer .content .buttons .short-break-dark-mode,
.timer .content .buttons .long-break-dark-mode {
    background: #292929;
}