.side-nav {
    height: 100%;
    width: 630px;
    position: fixed;
    z-index: 1;
    Left: 0;
    top: 0;
    opacity: 1;
    overflow-x:hidden;
    background: var(--expanded-sidebar-hover-primary);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateX(-100%);
    box-sizing: border-box;
}

.side-nav .btn-close {
    margin-left: auto;
    text-decoration: none;
    font-size: 22px;
    color: white;
    opacity: 1;
    display: block;
    position: absolute;
}

.side-nav .btn-close{
    position: absolute;
    top :0;
    right:22px;
    font-size: 36px;
    margin-left: 50px;
}


#side-menu {
    padding-left: 180px;
}


.side-nav-open {
    transform: translateX(0%);
}


@media only screen and (max-width: 500px) {
    #side-menu {
        padding-left: 50px;
        transition: 0.45s;
        width: 100%;
    }
}
