.history-tab .buttons {
    padding: 10px 10px;
    margin-right:30px;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.history-tab .buttons .closed {
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: black;
    height: 30px;
    width: 40%;
}

.history-tab .buttons .current {
    background: var(--profile-btn-primary);
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 40%;
}


