.history-tab .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin-right:50px;
    height: 30%;
}
.history-tab{
    display: flex;
    flex-direction:column ;
}

.history-tab .buttons .closed:hover{
    transition: 0.35s;
    background-color: var(--sidebar-timer-btn-bg-primary)
}
.history-tab .buttons .current:hover{
    transition: 0.35s;
    background-color: var(--sidebar-timer-btn-bg-primary)
}

.history-tab .buttons .current {
    width: 180px;
    height: 42px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: var(--sidebar-timer-btn-bg-primary);
    font-size: 14px;
    border: none;
    cursor:default;
}

.history-tab .buttons .closed {
    width: 155px;
    height: 32px;
    border-radius: 5px;
    color: white;
    background: var(--profile-btn-primary);
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}